body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    max-width: 100%;
    margin:0 auto;
    text-align: center;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 850px;
}
.fullpage{
    max-width: 100%;
    display: inline-block;

}
.navbar-main{
    width: 100%;
    list-style-type: none;
    height: 56px;
    background-color: rgba(0,0,0,0.35);
    padding-right:81px;
    box-sizing: border-box;
    margin:0;


}
.menu-item-logo{
    float: left;
    color:white;
    font-size: 20px;
    font-family:'Verdana','sans-serif' ;
    font-weight: bold;
    text-transform: uppercase;
    margin: 19px 600px 19px 81px;
}
.menu-item-logo:hover{
    color:#3cb878;
}

.menu-item-img{
    margin:8px 0 8px;
    display: inline-block;
    width:140px;
    height:30px;
    transition: 0.3s;
    background-image: url('../img/css_sprites1.png');
}
.menu-item-img:hover{
    margin:8px 0 8px 0;
    display: inline-block;
    width:140px;
    height:30px;
    background-image: url('../img/css_sprites.g.png');
    background-repeat: no-repeat;

}
.menu-item-text{
    display: inline-block;
    margin:19px 0 19px 0;
    float:right;
    font-size:14px;
    color:white;
    font-family: 'Verdana','sans-serif';
    border-left:1px solid lightgray;
    padding-left:20px ;

}

.menu-item-text-link{
    display: inline-block;
    color: #3cb878;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Verdana','sans-serif';
    transition: 0.3s;
}
.menu-item-text-link:hover{
    color:#3cb878;
    text-decoration-line: underline;
}
.content{
    width:100%;
    margin:auto 0;
    text-align: center;
}
.main{
    position: relative;
    margin-left:461px;
    margin-right:461px;
    margin-top:65px;
    width:444px;
    min-height: 650px;
    background-color: white;
    border-radius: 15px;
    padding: 0 62px 32px 62px;
    box-sizing: border-box;
}
.green-box{
    width: 18px;
    height:18px;
    background-color: #3cb878;
    position: absolute;
    left:0;
    top:29px;
}
.content-title{
    color:#434343;
    float:left;
    font-size:20px;
    font-family:'Verdana',sans-serif;
    font-weight: 300;
    margin-top:25px;
    display: inline-block;
}
.content-link{
    float:right;
    color:#3cb878;
    font-size:14px;
    font-family:'Verdana',sans-serif;
    margin-top:30px;
    transition: 0.3s;
    text-decoration: none;
}
.content-link:hover{
    text-decoration-line:underline;
}
.content-contact{
    width: 100%;
    height:50px;
    float:left;
    margin-bottom:30px;
    padding-left:0;
}
.content-div{
    width:156px;
    height:46px;
    float:left;
    display: inline-block;
    padding-top:13px;
    /*padding:0 17px 17px 20px;*/
    box-sizing: border-box;
    border-radius: 5px;
}
.content-icon{
    float: left;
    width:47px;
    box-sizing: border-box;
    height: 32px;
    margin:auto 0;
    text-align: center;
    display: inline-block;

}
.content-fb{
    margin-right:8px;
    background-color: #264b96;
}
.content-g{
    background-color: #c3412c;
}
.icon{
    color:white;
}

.content-text{
    width:92px;
    height: 22px;
    float: left;
    border-left:1px solid #224387;
    box-sizing: border-box;
}
.content-text-red{
    border-left:1px solid #af3a28;
}
.icon-text{
    color:white;
    font-size:16px;
    font-family:'Verdana',sans-serif;
    margin:0;
}
.content-line{
    float:left;
    height:1px;
    width:135px;
    border-top:1px solid #eaeaea;
    display: inline-block;
    margin-right:18px;

}
.line2{
    margin-right:0;
    float:right;
}
.or{
    color:#848484;
    font-size:14px;
    float:left;
    font-family: 'Verdana',sans-serif;
    display: inline-block;
    margin-top:-10px;
}
form{
    float:left;
    width:100%;
}

.form-item{
    box-sizing: border-box;
    width:100%;
    height:46px;
    margin-bottom:17px;
    border:1px solid #eaeaea;
    padding-left: 17px;
    /*border-radius: 5px;*/

}
.form-item:focus{
    box-shadow: 2px 5px 5px #e1e1e1;
    text-decoration: none;
    outline-width: 0;
}
.form-item:focus::placeholder{
    color:rgba(67, 67, 67, 255);
    font-family: 'Verdana',sans-serif;
}
::placeholder{
    color:rgba(190, 190, 190, 255);
    font-size:14px;
    font-family: 'Verdana',sans-serif;
}
.form-checkbox{
    /*appearance: none;*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    display: inline-block;
    outline: none;
    float:left;
    width:20px;
    height: 20px;
    color:#3cb878;
    border:1px solid #eaeaea;
    border-radius: 2px;
    margin-right:10px;
}
.form-text{
    padding-top: 2px;
}

.form-agreement{
    color:#3cb878;
    text-decoration: none;
    transition: 0.3s;
}
.form-agreement:hover{
    text-decoration:underline;
}
.form-submit{
    width:100%;
    height: 46px;
    margin-top:20px;
    background-color: #3cb878;
    border: none;
    border-radius:5px;
    transition: 0.3s;
}
.form-submit:hover{
    background-color: #329a65;
}
.form-text{
    margin-bottom:0;
    font-family: 'Verdana',sans-serif;
    font-size: 14px;
    color:#5c5c5c;
    float: left;
}
.form-submit{
    color:white;
    font-size: 16px;
    font-family: 'Verdana',sans-serif;
}
.form-submit:focus{
    overline:none;
}
