ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;

}

.tabs-title {
    padding: 20px;
    background-color: yellowgreen;
    color: white;
    cursor: pointer;
}
.tabs-content{
    justify-content: center;
    margin-left:100px;
    margin-right: 100px;

}
.tabs li.active {
    background-color:darkorange ;
    color: white;
}
.hidden{
    display: none;
}

/************************************/
.tab-content {
    display: none;
}

.tab-content.active {
    display: block
}
