*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container {
    max-width: 1366px;
    margin: 0 auto;
}

.main{
    /*background-size: 100%;*/
    background-image:url('../img/background1.png') ;
    max-width:1366px;
    min-height: 768px;
    background-repeat: no-repeat;
    /*text-align:center;*/
    padding-top:49px;
    padding-left:155px;
    /*padding-right:147px;*/
    padding-bottom: 20px;
    box-sizing: border-box;
}
.header{
    width:100%;
    height:54px;
    margin-bottom:45px;
    padding-right:145px;
    box-sizing: border-box;
}
.header-logo{
    min-width:165px;
    display: inline-block;
}

.header-logo-img{
    width:46px;
    height: 44px;
    float:left;
    display: inline-block;
    margin-right:15px;
    background-color: yellow;
}

.header-logo-text{
    display: inline-block;
}
.text{
    font-size:28px;
    font-family: 'Verdana',sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
}
.text:hover{
    color:#f26522;
}
.text2{
    font-size:18px;
    font-family: 'Verdana',SansSerif;
    font-weight: bold;
}
.header-text{
    display: inline-block;
    float:right;
    color:white;
}
.header-email{
    font-size: 18px;
    margin:0;
    font-family: 'Verdana',sans-serif;

}
.header-number{
    float:right;
    font-size:18px;
    margin:0;
    font-family: 'Verdana',sans-serif;
}
/*.content{*/
/*    width:100%;*/
/*    padding:0;*/
/*    border:1px solid white;*/
/*   */
/*}*/

.content-item{
    /*width:calc(100% / 3 - 22px);*/
    width:307px;
    height: 200px;
    text-align:center;
    margin-bottom:95px;
    margin-right:65px;
    float:left;
    border:2px solid white;
    box-shadow: gray;
    display: inline-block;
    color:white;
}


.content-item:nth-child(3){
    margin-right:0;
}
.content-item:nth-child(6){
    margin-right:0;
}

.clear-fixes::after{
    content: " ";
    clear:both;
    display:block;
}
img{
    width:100%;
    height: 100%;
}
.content-item-text{
    color:white;
    font-size:18px;
    font-family:'Verdana',sans-serif;
    display: inline-block;
    margin-top:22px;
}
.orangetext:hover{
    color:#f26522;
}
.content-item:hover{
    color:#f26522;
}
.shoppingtours-bg:hover{

}
.footer{
    width:100%;
    float: left;
    display: block;
}
.copyright{
    text-align: center;
    font-size: 12px;
    color:white;
    font-family: 'Verdana', sans-serif;
    padding-right:139px;

}


