body{
  width:100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}
.starWars{
    display: flex;
    justify-content: center;
    perspective: 400px;
    height: 800px;
    color: #E9C001;
    font-family: 'Calibri', sans-serif;
    font-size: 600%;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 150%;

}
.center{
    text-align:center;
}
.titleContent{
    position: relative;
    top:-100px;
    transform-origin: 50% 100%;
    animation-iteration-count: infinite;
}
@keyframes titleContent{
    0%{
        top:0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
.titleContent{
    position: relative;
    transform-origin: 50% 100%;
    animation: titleContent 30s;
}
.fade{
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}
