body{
    margin:0;
    padding:0;
    text-align:center;
}
.container {
    max-width: 1280px;
    max-height: 1480px;
    margin:auto;

}

.logo{
    display:block;
    text-align:left;
    font-size:80px;
    margin-top:40px;
    margin-bottom:40px;
    color:#4bcaff;
    text-decoration: none;
    font-family: 'Calibri';
}
.blackpart{
    color:black
}
.upper-menu{
    width:1280px;
    max-height:69px;
    margin-bottom:51px;
    display:inline-block;
    text-align: center;
    background-color: #35444f;
}
.menu1 {
    width:970px;
    list-style-type: none;
    margin: auto;
    padding: 0;


}
.topmenu{
    float:left;
}
.topmenu:hover:not(.active1){
    background-color:#222f3a;
    border-left:1px solid #818181;
    border-right:1px solid #818181;
}
.active1 {
    background-color: #222f3a;
    border-left:1px solid #818181;
    border-right:1px solid #818181;
}
.menuelement{
    display:inline-block;
    color:white;
    padding: 20px 41px;
    text-align:center;
    text-decoration:none;
    font-size:24px;
    font-family: 'Calibri';
}
.side-menu{
    width:344px ;
    height:399px ;
    display:inline-block;
    border:1px solid #35444f;
    float:left;
    margin-right:52px;
}
.menu2{
    max-width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color:#54636d;
}

.sidemenuelement{
    padding: 26px 42px;
    display: block;
    color:#495863;
    text-decoration: none;
    font-size:22px;
    text-align: left;
    font-family: 'Calibri';

}


.active2 {
    background-color: #dbdbdb;
    color:black;
    padding-left:67px;
}
.sidemenuelement:hover:not(.active2){
    background-color: #dbdbdb;
    color:black;
    padding-left:67px;
}
.content {
    width: 880px;
    height: 529px;
    display: inline-block;
    border: 1px solid #35444f;
    float: left;
    position: relative;
    margin-bottom:50px;
    overflow:hidden;
}
.image{
    width:320px;
    height:381px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

}
.image:hover{
    transition: 0.3;
    width:60%;
    height:60%;
}
.content2{
    width:815px;
    max-height:274px;
    text-align:left;
    margin-left:425px;
    margin-bottom:51px;
    font-size: 18px;
    font-family: 'Calibri';
    display:inline-block;

}
.text{
   color: #484848;
    margin-top:0;
}
.footer-menu{
    max-width:1280px;
    background-color: #b4b7ba;
    padding:22px 44px ;
    text-align:left;
    margin-bottom:30px;
}
.footerlink{
    font-size:28px;
    color:#0c1927;
    margin-right:22px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Calibri';
}
.footerlink:hover:not(.active3){
    color:#3181a6;
    text-decoration:underline;
}
.right{
    font-size:24px;
    color:#19191a;
    float:right;
    display: inline-block;
    margin:0;
    font-family: 'Calibri';
}
.active3{
    color:#3181a6;
    text-decoration:underline;
}
