 body{
     margin:0;
     padding:0;
 }
.main{
    max-width:100%;
    max-height:1626px;
}
 .menu{
     padding:32px 380px;
     background-color: white;


 }
 .menu>a{
     margin-right:65px;
     text-transform:uppercase;
     text-decoration:none;
     color:#16a085;
     font-family: Calibri;
     font-size: 18px;
 }
 .main-img{
     height:790px;
     width:100%;
 }
.content{
    max-width:100%;
    max-height:650px;
    background-color: #f5f6f7;
    color: rgba(55, 55, 55, 255);;
    padding: 30px 88px 94px 113px ;
    text-align:center;
    font-family: 'SansSerif';
}
.content>h2{
    text-transform: uppercase;
    font-size:22px;
    color: rgba(55, 55, 55, 255);
}
.contenttext{
    font-size: 16px;
    color: rgba(55, 55, 55, 255);
}
.firstbutton{
    background-color:#16a085;
    width:195px;
    height:54px;
    border:none;
    border-radius:6%;
    color:white;
    text-transform: uppercase;
    margin-top:30px;
    font-family: 'GothamRounded-Bold';
}
.footer{
    max-width:100%;
    height:108px;
    padding-left: 800px;
    padding-right: 88px;
    text-align:right;

}
.footer>p{
    font-size:16px;
    display: inline-block;
    margin-top:48px;
    color: rgba(55, 55, 55, 255);
    font-family: "Roboto Light";

}
